 /*THE REASON WE HAVE TWO SEPERATE CSS FILES IS BECUASE APRT FROM MAKING
THE SITE MORE ORGANISED ,THE APP.CSS IS FOR CSS CODES THAT CONTROL OR DESIGN 
THE APP COMPONENET ITSELE THEN INDEX.CSS ARE FOR THE CSS CODES THAT CONTROL
THE OVERALL SITE*/
   
      
       .app-container{
        max-width: 600px;
        margin-left:auto;
        margin-right:auto;
        height:100vh;
        display: flex;
        flex-direction:column;
        
       }
      
       /*HOOKS LETS US INSERT REACT FEATURES INTO OUR COMPONENTS*/
      /*useEffect lets us run some code after a component as been created or updated*/
       
       
   