/*THE REASON WE HAVE TWO SEPERATE CSS FILES IS BECUASE APRT FROM MAKING
THE SITE MORE ORGANISED ,THE APP.CSS IS FOR CSS CODES THAT CONTROL OR DESIGN 
THE APP COMPONENET ITSELE THEN INDEX.CSS ARE FOR THE CSS CODES THAT CONTROL
THE OVERALL SITE*/

 body{
        font-family:Arial;
        margin-top: 0px;
        margin-bottom: 0px;
    }
